/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  background-color: #4365af; }

div.wrapper {
  	/*background-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.05, rgb(67, 101, 175)),
          color-stop(0.10, rgb(255,255,255)),
          color-stop(0.90, rgb(255,255,255)),
          color-stop(0.95, rgb(67, 101, 175))
          
      );
      background-image: -moz-linear-gradient(
          center bottom,
          rgb(67, 101, 175) 0%,
          rgb(255, 255, 255) 10%,
          rgb(255, 255, 255) 90%, 
          rgb(67, 101, 175) 100%
      );*/ }

header {
  height: 70px;
  text-align: center; }
  header .logo {
    margin: 15px auto 0; }

.text {
  background-color: white;
  margin: 0 10px;
  padding: 10px 15px;
  -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px; }
  .text .button {
    display: block;
    padding: 5px;
    margin: 10px;
    color: #4365af;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #4365af; }
    .text .button:active {
      color: #fff;
      background-color: #4365af; }

footer {
  text-align: center;
  color: #fff;
  padding: 20px 10px;
  margin: 0; }

a.jasig-link {
  text-align: center;
  color: #fff; }
